

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  width: 100%;
}

.navbar_logo {
  width: 60%;
}

.navbar_logo a {
  text-decoration: none;
}

.navbar_links {
  display: flex;
}

.navbar_links span {
  display: flex;
}