* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
/*Navbar Section*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: auto;
  top: 0;
  left: 0;

  background-color: #333;
}


.navbar_logo img {
  width: 30%;
  right: 0;
  height: auto;
}

.navbar_links {
  display: flex;
  align-items: center;
  height: 100%;
 

}

.navbar_links a {
  padding-inline: 1.5rem ;
  background-color: black;
  text-decoration: none;
  color: white;
}

/*Makes Sticky*/
.content {
  top: 0;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
